LOCAL_INSTALL="false" # Set to true if you want to use a ip address or a local domain as the hostname. This will disable SSL in the web interface.
PB2_ADMID="" # Twitch UserID of the admin account
PB2_HOST="" # Domain used to reach the web interface.
PB2_BOT_CLID="" # Bot App ClientID
PB2_BOT_CLSEC="" # Bot App ClientSecret
PB2_USER_CLID="" # User App ClientID
PB2_USER_CLSEC="" # User App ClientSecret
PB2_STRM_CLID="" # Streamer App ClientID
PB2_STRM_CLSEC="" # Streamer App ClientSecret